ServiceBusApplication/CallSayHello/Schemas/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Response" xmlns:tns="http://www.example.org/Response" elementFormDefault="qualified">

    <element name="Response" type="tns:Info"></element>
    
    <complexType name="Info">
    	<sequence>
    		<element name="Code" type="string"></element>
    		<element name="Message" type="string"></element>
    	</sequence>
    </complexType>
</schema>